body {

    /* カラーユニバーサルデザイン推奨配色 */
    /* https://www.dic-graphics.co.jp/navi/color/ud.html */
    --red: #ff4b00;
    --red-light: #ff4b001a;
    --yellow: rgb(255, 241, 0);
    --green: rgb(3, 175, 122);
    --blue: #005aff;
    --blue-light: #005aff1a;
    --sky: rgb(77, 196, 255);
    --pink: rgb(255, 128, 130);
    --orange: rgb(246, 170, 0);

    --color-accent: var(--blue);
    --color-accent-light: var(--blue-light);

    --font-default: "UD デジタル 教科書体 NK-R", sans-serif;
    --font-bold: "UD デジタル 教科書体 NK-B", sans-serif;
    --font-gothic: "源暎エムゴv2", "BIZ UDPGothic", sans-serif;

    padding-inline: 2em;
    font-family: var(--font-default);
    line-height: 1.5;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-family: var(--font-gothic);
    font-weight: 900;
}

h2 {
    margin-bottom: 0.5em;
    padding-left: 10px;
    font-family: var(--font-gothic);
    font-size: 1.5em;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--color-accent-light) 80%, transparent);
    border-radius: 0.2em 0 0 0.2em;
    border-color: var(--color-accent);
    border-width: 0 0 2px 8px;
    border-style: solid;
}

h2:not(:first-child) {
    margin-top: 1.5em;

}

:where(h2)~*:where(:not(.work)) {
    padding-left: 1em;
}

h3 {
    font-family: var(--font-gothic);
    font-weight: 700;
    line-height: 1.3;
}

h3:not(:first-child) {
    margin-top: 1em;
}

/* h4 {} */

h4:not(:first-child) {
    margin-top: 1em;
}


strong {
    font-family: var(--font-gothic);
    font-weight: 700;
}

ul,
ol {
    padding-left: 2.5em;
}

:where(ul, ol)>ul,
:where(ul, ol)>ol {
    padding-left: 1.5em;
}

table {
    border-collapse: collapse;
    border: 0.5px solid black;
}

table th {
    border-bottom: 1px solid black;
}

table td {
    border-top: 0.5px solid black;
}

a {
    text-decoration: underline;
    color: var(--sky);
}

img {
    max-width: 100%;
    vertical-align: middle;
}

:where(h2, h3)~img {
    display: block;
    margin-inline: auto;
}

/* 手順 */
.work {
    --color-accent: var(--red);
    --color-accent-light: var(--red-light);
    counter-reset: step;
    margin-block: 1em;
    margin-inline: -1em;
    padding: 0.5em 2em;
    background-color: var(--red-light);
    border-radius: 0.8em;
    border: solid 2px var(--red);
}

.work h2 {
    background-color: var(--red-light);

}

.work h4 {
    margin-left: 2.0em;
    text-indent: -2.0em;
}

.work h4::before {
    counter-increment: step;
    margin-right: 0.5em;
    content: counter(step);
    padding: 0.2em 0.5em;
    border-radius: 9999px;
    background-color: var(--red);
    font-family: var(--font-gothic);
    font-weight: 700;
    color: #fff;
    line-height: 1;
    font-size: 1.1em;
}

/* 「小さく分けよう」 */
.divide,
.simulate,
.find {
    display: inline-block;
    border-radius: 9999px;
    font-family: var(--font-gothic);
    /* border: 2px solid var(--color-accent); */
    /* color: var(--color-accent); */
    background-color: var(--color-accent);
    color: #fff;
    font-weight: 700;
    padding: 0.1em 0.6em;
}

.divide {
    --color-accent: var(--sky);
}

.simulate {
    --color-accent: var(--pink);
}

.find {
    --color-accent: var(--orange);
}

/* 段組み */
.columns-two {
    display: grid;
    grid-template-columns: auto auto;
}

.columns-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* 改ページ */
hr {
    visibility: hidden;
    height: 0;
    margin: 0;
    border: none;
    break-after: page;
}